{% extends "base.twig" %}

{% block content %}
	{% for item in ta_items %}
	<a href="{{item.link}}">
		<img src="{{ item.thumbnail.src|resize(500) }}">
		<h2>
			{{ item.title }}
		</h2>
	</a>	
	{% endfor %}
	
{% endblock %}
